/* styles.css */

/* Reset des styles pour une base propre */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style du corps de la page */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #fff; /* Couleur du texte global */
  background-color: #333; /* Fond global de la page (plus sombre) */
}

/* En-tête du site */
header {
  background-color: #007BFF; /* Bleu vif */
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Logo du site */
header h1 {
  font-size: 2em;
}

/* Navigation */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

/* Contenu principal */
main {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #333; /* Fond plus sombre */
}

/* Styles spécifiques au contenu de la page d'accueil */
.main-heading {
  color: #007BFF;
  font-size: 2em;
  margin-bottom: 20px;
}

.main-paragraph {
  line-height: 1.6;
  margin-bottom: 15px;
}

.main-link {
  color: #4CAF50; /* Vert foncé */
  text-decoration: none;
  font-weight: bold;
}

.main-link:hover {
  text-decoration: underline;
}

/* Pied de page */
footer {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Liens dans le contenu */
a {
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}
