body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

article {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

/* Styles pour afficher la liste horizontalement */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px; /* Espace entre les éléments de la liste */
}

nav a {
    text-decoration: none;
    color: #333; /* Couleur du texte */
    font-weight: bold;
}